.imageDetailsBackground {
  height: 100%;
  min-height: 100vh;
  padding-bottom: 5px;
}

.imgContainerDetailsPage {
  max-width: 900px;
  max-height: 600px;
  margin-right: 50%;
  border: solid 5px;
  overflow: hidden;
}

.imgContainerDetailsPage img {
  width: 100%;
  max-height: 590px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.imgContainerDetailsPage img:hover {
  transform: scale(1.5);
}

.explanationSection {
  margin: auto;
  padding: 5px;
  max-width: 1200px;
}

.explanationSection p {
  font-size: x-large;
  max-height: 300px;
  overflow: auto;
}

.navBoarderColor {
  border-top: solid 3px white;
}

@media (max-width: 420px) {
  .explanationSection p {
    font-size: large;
  }
}
